name: CI
on:
  push:
    tags: [ '*' ]
    branches: [ '**' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        env:
          TRAVIS_BUILD_DIR: ${{ github.workspace }}
        run: |
          docker build -t procube/nginx-shib-rpm-el9 .
          mkdir -p /tmp/RPMS/x86_64
          sudo chown 111:111 -R /tmp/RPMS
          docker run --rm --name nginx-shib-rpm-el9 -v /tmp/RPMS:/home/builder/rpmbuild/RPMS procube/nginx-shib-rpm-el9
          (cd /tmp;tar czf - RPMS) > $TRAVIS_BUILD_DIR/nginx-shib-rpm-el9.tar.gz
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: nginx-shib-rpm-el9.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
